
    <%= form_for(@task) do |f| %>
      <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

          <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %><br>
        <textarea type="text" name="task[title]" class="form-control" required autofocus></textarea>
      </div>
      <div class="field" class="width-size2">
        <%= f.label :priority %><br>
        <select name="task[priority]" class="form-control"  >
          <option value="ASAP">High</option>
          <option value="Medium">Medium</option>
          <option value="Take your time">Low</option>
        </select>

      </div>
      <div class="field">
        <%= f.label :description %><br>

        <textarea type="text" name="task[description]" class="form-control" required></textarea>
      </div>
      <div class="field">
        <%= f.label :status %><br>
        <select name="task[status]" class="form-control"  >
          <option value="TODO">TODO</option>
          <option value="DOING">DOING</option>
          <option value="DONE">DONE</option>
        </select>

      </div>
      <div class="field">
        <%= f.label :due_date %><br>
        <%= f.date_select :due_date %>
      </div>
      <div class="actions">
        <p>
          <%= f.submit(:class=>"btn btn-lg btn-primary",:href=>"../../components/#navbar" ,:role => "button") %>
        </p>
      </div>
    <% end %>
