<div>
  <div class="task">
    <% project = Project.find_by(id: params[:project_id]) %>
    <% status =  params[:status] %>
    <% if project %>
        <% if status%>
            <h1><%= project.name %></h1>
            <h3 class="text-center"><%= status %><%= " LIST" %></h3>
            <h2></h2>
        <% else %>
            <h1><%= project.name %></h1>
        <% end %>
    <% else %>
        <h1><%= params[:status] %></h1>
    <% end %>
    <% if !project %>
        <% if !status %>
            <h1><%= "Tasks" %></h1>
        <% end %>
    <% end %>
  </div>
  <%= render 'task_table' %>

</div>