<div class="page-header">
  <h1>Listing tasks</h1>
</div>


<div class="table-responsive">
  <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Priority</th>
        <th>Description</th>
        <th>Project Name</th>
        <th>Assignee</th>
        <th>Status</th>
        <th>Due date</th>
        <th>Created by</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
          <% @tasks.each do |task| %>
              <tr class="task">
                <td><%= task.title %></td>
                <td><%= task.priority %></td>
                <td><%= task.description %></td>
                <td><%= task.project_name %></td>
                <td><%= task.assignee %></td>
                <td><%= task.status %></td>
                <td><%= task.due_date %></td>
                <td><%= task.user.full_name %></td>
                <!--<td>|</td>-->
                <td><%= link_to time_ago_in_words(task.created_at) + " ago", task %></td>
               <!-- <td class="admin">|</td>-->
                <td class="admin"><%= link_to 'Edit', edit_task_path(task) %></td>
               <!-- <td class="admin">|</td>-->
                <td class="admin"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      </tbody>
    </table>
</div>
<br>

<%= link_to 'New Task', new_task_path %>