<div class="row">
  <div class="col-md-5">
    <%= form_for(@project) do |f| %>
        <% if @project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

              <ul>
                <% @project.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :name %><br>
          <textarea type="text" name="project[name]" class="form-control" required autofocus><%= @project.name %></textarea>
          <!--%= f.text_field :name %-->
        </div>
        <div class="field">
          <%= f.label :start_date %><br>
          <% if @project.start_date%>
              <%= f.date_field :start_date,value: @project.start_date,:class=>'form-control'   %>
          <% else %>
              <%= f.date_field :start_date,value: Date.today  ,:class=>'form-control'   %>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :due_date %><br>
          <% if @project.due_date%>
              <%= f.date_field :due_date,value: @project.due_date,:class=>'form-control'   %>
          <% else %>
              <%= f.date_field :due_date,value: Date.today  ,:class=>'form-control'   %>
          <% end %>
        </div>
        <br>
        <div class="actions">
          <p>
          <%= f.submit(:class=>"btn btn-lg btn-primary",:href=>"../../components/#navbar" ,:role => "button") %>
          <%= link_to 'Back', projects_path,:class=>"btn btn-lg btn-default", :type=>"button" %>
          </p>
        </div>
    <% end %>
  </div>
</div>



