<div class="container">
  <div class="row">
    <div class="col-md-2">
      <table>

        <h2 class="page-header">Projects</h2>
        <thead>
        <tr>
          <th hidden="hidden">Name</th>
          <th hidden="hidden">Priority</th>
          <th hidden="hidden">Start date</th>
          <th hidden="hidden">Due date</th>
          <th hidden="hidden">Created at </th>
          <th hidden="hidden">Update</th>
        </tr>
        </thead>

        <tbody>
        <% @projects.each do |project| %>
            <tr class="shap">
              <td>
                <%= link_to project.name, tasks_path(:project_id => project.id) %>

                <div class="progress">
                  <% if project.projectProgress != "0%" %>
                      <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: inherit ;" >
                        <%= project.projectProgress %>
                      </div>
                  <%else%>
                          <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.projectProgress %> ;" >
                            <%= project.projectProgress%>
                      </div>
                      <%end%>

                </div>
                <div class="admin"><%= link_to 'Edit|', edit_project_path(project) %><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></div>
              </td>
              <td hidden="hidden"><%= project.start_date %></td>
              <td hidden="hidden"><%= project.due_date %></td>
              <td hidden="hidden"><%= link_to 'Show', project %></td>
              <td hidden="hidden"><%= link_to 'Edit|', edit_project_path(project) %></td>
              <td hidden="hidden"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>

        </tbody>
      </table>


    </div>
    <div class="col-md-10">
      <center><h2 class="page-header">My Tasks</h2></center>
      <%= render 'tasks/task_table' %>
    </div>

  </div>

  <div class="project_btns">
    <%= link_to 'New Project', new_project_path,:class =>"btn btn-lg btn-default"%>
    <%= link_to 'All Tasks', tasks_path,:class =>"btn btn-lg btn-default" %>
  </div>

</div>