<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Eazy Task<%= @page_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag    "bootstrap.css" %>
  <%= stylesheet_link_tag    "datepicker.css" %>

  <!-- Custom styles for this template -->
  <%= stylesheet_link_tag "site.css" %>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <style>

      /*h1 {text-align:center;font-family: 'Nixie One', cursive;}*/
      h1{ text-align:center; color: #5a5a5a}
      h2{ color: #5a5a5a}
      body {
          font-family: 'Varela Round', sans-serif;
          font-size: 20px;
      }
  </style>
</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/projects">All Projects</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li id="todo_counter"></li>
        <li><%= link_to 'TODO', tasks_path(:status => "TODO", :project_id=>params[:project_id])  %></li>
        <li id="doing_counter"></li>
        <li><%= link_to 'DOING', tasks_path(:status => "DOING",:project_id => params[:project_id]) %></li>
        <li><%= link_to 'DONE', tasks_path(:status => "DONE",:project_id => params[:project_id]) %></li>
        <li>
          <%= link_to 'New Task', new_task_url ,:class =>"btn btn-primary btn-default", :role => "button",id:"menu_new_task"  %>
        </li>
        <li>
          <%= link_to 'Assigned To Me',"#" ,:class =>"btn btn-success btn-default", :role => "button",id:"menu_assigned_to_me"%>
        </li>
        <li>
          <%= link_to 'Created By Me', "#" ,:class =>"btn btn-info btn-default", :role => "button",id:"menu_created_by_me"  %>
        </li>

      </ul>

      <ul class="nav pull-right" id="login">
        <!--check if user logged in-->
        <div>
          <li><% if user_signed_in? %>
                <span id="login_name"><%= current_user.full_name %></span><br>
                <%= link_to 'Click to logout', destroy_user_session_path, :method => :delete %>
            <% else %>
                You are not signed in<br>
                <%= link_to 'Login', new_user_session_path %>
            <% end %></li>

        </div>

      </ul>

    </div><!--/.nav-collapse -->
  </div>
</div>
 <!--<%=  submit_tag("", :accesskey => "R")  %>-->
<div class="container">
  <!--p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p-->

    <%= yield %>

</div>




<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>-->
<script type="text/javascript">
    $( document ).ready(function() {
        countTasks("TODO","todo_counter");
        countTasks("DOING","doing_counter");
    });
</script>


</body>
</html>
